<div class="confirm-container text-center py-3">
    <div class="mb-4">
        <img loading="lazy" src="assets/images/remove.svg" alt="remove">
    </div>
    <h4 mat-dialog-content> {{ message }}</h4>

    <div mat-dialog-actions class="my-3 d-flex justify-content-center">
        <button class="btn btn-danger" mat-button [mat-dialog-close]="{ clicked: 'Delete' }">Delete</button>
        <button mat-button [mat-dialog-close]="{ clicked: 'Cancel' }">
            Cancel
        </button>
    </div>
</div>